body {
    background-image: url("https://i.imgur.com/EXWWw6O.jpg")
}
div #header-space{
    position: relative;
}

h1{
    text-align: center;
    font-family: oferta do dia;
    font-size: 60px;
    position: relative;
    top: 20px;
    right: -300px
}



div.outer-container {
    position: relative;
    top: 20px;
}

div #title-player-button {
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 6px;
    width: 300px;
    border-radius: 8px;
    background-image: url('https://i.imgur.com/kcCUplt.jpg');
    box-shadow: -2px -2px 11px black , 2px 2px 11px  black  ;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    
}
.wrapper{
    position: relative;
}

#imagePlace img {
    position: relative;
    border: 2px solid black;
    top: 20px;
    


}

#imagePlace {
    position: relative;
    top: 18px;
    font-size: 20px;
    color: teal;
    text-shadow: black;
    font-family: bebas neue;
}
.container img{
    width: 80%;
   
   
}
.container h1{
    font-size: 1.5rem;
    margin: 12px 0 12px 0;
}
.buttons{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
.buttons button{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 16px;
    border-radius: 90px;
    background-color: grey;
    text-align: left;
    margin: 10px 9px;
    border: none;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
    /*background:linear-gradient(-45deg,#a2b1c6,#fff);*/
}
.buttons button:active{
    background: #E1E6EC;
    box-shadow: inset 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
}
.buttons button img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 42%;
    height: 42%;
}

.level{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background: #E1E6EC;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
    border-radius: 50px;
    margin: 12px 0;
}
.level::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #A2B1C6;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff  ;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 90px;
}
.level::-moz-range-thumb{
    width: 50px;
    height: 50px;
}

h4 {
    font-style: italic;
    line-height: 5px;
}



div #full-discog{
    display: flex;
    justify-content: center;
    position: relative;
    top: 14px;
    
}


div #full-discog button {
    height: 50px;
    border-radius: 8px;
    width: 160px;
    font-size: 20px;
    position: relative;
    right: -80px;
}

#like-button {
    height: 50px;
    border-radius: 8px;
    font-family: bebas neue;
    width :155px;
    font-size: 20px;
    position: relative;
    top: -16px;
    right: -550px;

    
}

nav a:link {
    font-family: bebas neue;
    color: teal;
    font-size: 30px;
    text-decoration: none;

}


nav a:visited {
    color: grey;
}
nav a:hover {
    color: turquoise;
}

button a:link {
    font-family: bebas neue;
    text-decoration: none;
    color: teal
}

button a:hover {
    color: turquoise;
}

button a:visited {
    color: gray
}

#imagePlace  {
    position: relative;
    top: -15px;
    font-size: 30px;
    text-shadow: 3px 3px 5px  white
}



header {
    margin: 2% auto 10% auto;
    text-align: center;
}
header h2 {
    font-size: 400px;
    text-shadow: 2px 2px black;
    font-family: 'Bebas Neue';
    position: relative;
    top: 20px;
    color: #ffffff;
}
header p {letter-spacing: 0.05em;
    font-family: 'Bebas Neue';
    position: relative;
    top: 20px;
    font-size: 80px;
    color: rgb(27, 223, 203);
    text-shadow: 2px 1px black;
}
header .header_logo {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    top: -80px;
}

header .header_logo h3 {
    letter-spacing: 3px;
    font-size: 45px;
    font-family: oferta do dia;
    text-shadow: 2px 2px white;
    position: relative;
    top: -22px;
}

nav {
    width: 800px;
    height: 100px;
    float: right;
    position: relative;
    top: -100px;
}

header nav li {
    list-style: none;
    float: left;

    
    
}

header nav li  {
    font-size: 50px;
}

header nav li a {
    text-decoration: none;
    color: white;
    font-family: bebas neue;
    font-size: 50px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-left: 5px;
    text-shadow: 2px 2px black;
    transition: 0.5s ease;
    position: relative;
}

header nav li a:hover {
    color:rgb(8, 146, 132)
}

header nav li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    opacity: 0;
    right: 0;
    width: 5px;
    height: 5px;
    transition: 0.5s ease;
    background-color: white;
}

header nav li a:hover:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    opacity:1;
    height: 5px;
    transition: 0.5s ease;
    background-color: white;
}
header nav li a:hover:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 5px;
    transition: 0.5s ease;
    opacity: 1;
    background-color: white;
}

header nav li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 5px;
    opacity: 0;
    transition: 0.5s ease;

    background-color: turquoise;
}
