body{
    background-image: url("https://i.imgur.com/EXWWw6O.jpg");
}

h1{
    font-family: oferta do dia;
    text-shadow: 2px 2px white;
    font-size: 90px;
    text-align: center;
    position: relative;
    left: -50px
}
h4{
    font-family: bebas neue;
    position: relative;
    text-align: center;
    top: -60px;
    right: 50px;
    font-size: 25px;
    text-shadow: 2px 2px white;
}
.mapdiv{
    width:10%;
    margin: auto;
}

.mapdiv path {
        stroke-width:2px;
}

svg {
    height: 600px;
    position: relative;
    left:100px;
}
.country {
    fill: teal;
    box-shadow: inset 0 0 0 0 #53a7ea;
    transition:  fill 0.5s;
    
}
.country:hover {
    transition:  fill 0.5s; 
    box-shadow: inset 0 0 90 25px #53a7ea;
    fill: rgb(1, 211, 155);
    stroke-dashoffset: 0;
    border-radius:50%;
    }
    
h2 {
        font-family: bebas neue;
        font-size: 80px ;
        text-shadow: 2px 2px white;
        text-align: center;
        position: relative;
        top: -700px;
        right: 290px;
        
    }
    
    .description {
    position: relative;
    top: -750px;
    right: -250px; 
    }
    
    .flag {
    position: relative;
    top: -750px;
    right: -280px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
    
    }
    .country-card {
        position: flex;
        z-index: 400;
    }