* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://i.imgur.com/EXWWw6O.jpg');
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100vh;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.title {
  text-align: center;
  font-family: oferta do dia;
  font-size: 70px;
  text-shadow: 2px 2px white;
}

.subtitle {
  text-align: center;
  font-family: bebas neue;
  font-size: 25px;
  text-shadow: 2px 2px white;
}

.mapdiv path {
  stroke-width: 2px;
}

.mapdiv {
  width: 600px;
}

svg {
  height: 600px;
  width: 700px;
}

.country {
  fill: teal;
  box-shadow: inset 0 0 0 0 #53a7ea;
  transition: fill 0.5s;
}

.country:hover {
  transition: fill 0.5s;
  box-shadow: inset 0 0 90 25px #53a7ea;
  fill: rgb(1, 211, 155);
  stroke-dashoffset: 0;
  border-radius: 50%;
}

h2 {
  font-family: bebas neue;
  font-size: 80px;
  text-shadow: 2px 2px white;
  text-align: center;
}

.description {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: left;
}

.flag {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.country-card {
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
  display: flex;
}

.map-flag {
  display: flex;
  flex-direction: row;
}

.country-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
